/* ==================== app specific styles ==================== */
@font-face {
  font-family: "Roboto";
  src: url('/css/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Bold";
  src: url('/css/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Italic";
  src: url('/css/fonts/Roboto-Italic.ttf') format('truetype');
}

/* line 17, ../scss/app.scss */
body {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto;
}

/* line 23, ../scss/app.scss */
#container {
  padding: 0;
}

/* line 27, ../scss/app.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  background-color: rgba(100, 100, 100, 0.7);
  border-bottom: 1px solid #666666;
}
/* line 38, ../scss/app.scss */
header h1 {
  padding: 0.25em;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
}
/* line 45, ../scss/app.scss */
header h1 a:link, header h1 a:visited, header h1 a:active {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

/* line 52, ../scss/app.scss */
#main {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 59, ../scss/app.scss */
.primary-list {
  list-style-type: none;
  padding: 0;
}
/* line 63, ../scss/app.scss */
.primary-list li {
  padding: 1em 0.5em;
  border: 0;
  border-bottom: 1px solid #666666;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 70, ../scss/app.scss */
.primary-list li:first-child {
  border-top: 1px solid #666666;
}

/* line 75, ../scss/app.scss */
footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f2f2f), color-stop(50%, #151515), color-stop(51%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #2f2f2f, #151515 50%, #000000 51%, #000000);
  background-image: -moz-linear-gradient(top, #2f2f2f, #151515 50%, #000000 51%, #000000);
  background-image: -o-linear-gradient(top, #2f2f2f, #151515 50%, #000000 51%, #000000);
  background-image: -ms-linear-gradient(top, #2f2f2f, #151515 50%, #000000 51%, #000000);
  background-image: linear-gradient(top, #2f2f2f, #151515 50%, #000000 51%, #000000);
  border: 1px solid #222;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 85, ../scss/app.scss */
.loading-indicator {
  margin: 10px;
}

/* line 89, ../scss/app.scss */
.hide {
  display: none;
}

/* line 93, ../scss/app.scss */
input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

/* no point to have red bg on untouched text boxes */
/* line 99, ../scss/app.scss */
input[type=text]:invalid {
  background-color: white;
}
