@import "compass/css3/border-radius";
@import "compass/css3/font-face";
@import "compass/css3/box-shadow";
@import "compass/css3/box";
@import "compass";
/* ==================== app specific styles ==================== */

$header_gradient_1: #2DBCF8;
$header_gradient_2: #2499CB;
$header_text_color: #fff;
$footer_color: rgba(100,100,100,1);
$header_height: 46px;
$border_color: #ccc;
$background_gradient_1: #FFFFFF;
$background_gradient_2: #D9D9D9;
$text_color: rgba(0,0,0,1);
$list_item_gradient_1: #fdfdfd;
$list_item_gradient_2: #eee;

@mixin header {
  @include background-image(linear-gradient($header_gradient_1, $header_gradient_2));
  padding: 0.7em 1em;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: $header_text_color;
  text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
  @include border-radius(5px 5px 0px 0px);
}

@mixin body-box {
  margin: 0;
  border: 1px solid $border_color;
  border-bottom: none;
  @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
}

@mixin body-box-last {
  border-bottom: 1px solid $border_color;
  @include border-radius(0px 0px 5px 5px);
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

html {
  background-color: $background_gradient_2;
}

body {
  color: $text_color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  @include background-image(linear-gradient($background_gradient_1, $background_gradient_2 100%));
}

#container {
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header_height;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  @include background-image(linear-gradient($header_gradient_1, $header_gradient_2));
  color: $header_text_color;
  border-bottom: 1px solid $border_color;
  text-align: center;
  
  h1 {
    padding: 0.25em;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    
    a:link, a:visited, a:active {
      color: $text_color;
      text-decoration: none;
      color: $header_text_color;
      text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
    }
  }
}

#main {
  padding-top: $header_height;
  padding-bottom: $header_height;
  padding-left: 5px;
  padding-right: 5px;
}

.primary-list {
  list-style-type: none;
  padding: 0;
  
  li {
    padding: 1em 1em;
    border: 0;
    border-bottom: 1px solid $border_color;
    border-left: 1px solid $border_color;
    border-right: 1px solid $border_color;
    @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
    
    &:active {
      @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
    }
  }
  
  li.header {
    @include background-image(linear-gradient($header_gradient_1, $header_gradient_2));
    padding: 0.7em 1em;
    font-size: 18px;
    font-weight: bold;
    color: $header_text_color;
    text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
    
  }
  
  li.create-new {
    
    padding-top: 1em;
    
    
    .text {
      display: inline-block;
      background-image: url("../img/add-new-small.png");
      background-repeat: no-repeat;
      background-position: 0;
      padding-left: 25px;
      height: 18px;
    }
  }
  
  li:first-child {
    border-top: 1px solid $border_color;
    @include border-radius(5px 5px 0px 0px);
  }

  li:last-child {
    @include border-radius(0px 0px 5px 5px);
  }
}

#target-details {
  .target-question {
    @include header;
  }
  .target-answer {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    margin: 0;
    
    .answer {
      border: 1px solid $border_color;
      border-right: none;
      padding: 1em;
      display: block;
      @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
      @include box-flex(1);
      text-align: center;
      @include box-shadow( 0px 1px 4px rgba(0,0,0,.3));
      
      &:active {
        @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
      }
    }
    .answer:first-child {
      @include border-radius(0px 0px 0px 5px);
    }
    .answer:last-child {
      border-right: 1px solid $border_color;
      @include border-radius(0px 0px 5px 0px);
    }
  }
  .link-button {
    margin-top: 2em;
  }
}

#target-results {
  .target-question {
    @include header;
  }
  table {
    width: 100%;
  }
  .target-answers {
    @include body-box;
    
    th {
      font-size: 1.5em;
      font-weight: bold;
      color: lighten($text_color, 20%);
      text-align: left;
      @include background-image(linear-gradient(darken($list_item_gradient_2, 10%), darken($list_item_gradient_1, 10%)));
      padding: 10px 1em;
    }
    
    td {
      color: lighten($text_color, 50%);
      font-size: 3em;
    }
  }
  .result-number, .answer {
    padding: 20px 1em;
  }
  .result-number {
    text-align: right;
  }
  .target-answers:last-child {
    @include body-box-last;
  }
  
  .graph {
    height: 300px; 
    width: 100%;
    
    .yAxis .tickLabel {
      font-size: 12px;
    }
    .xAxis .tickLabel {
      font-size: 10px;
    }
  }
}

#target-ownResult {
  h3 {
    @include header;
  }
  .result-info-body {
    @include body-box;
    padding-left: 1em;
    color: lighten($text_color, 40%);
    
    .question, .answer {
      display: none;
    }
  }
  .result-info-body:last-child {
    @include body-box-last;
  }
  .link-button {
    margin-top: 2em;
  }
}

#back-button {
  position: absolute; 
  top: 5px; 
  left: 5px;
  height: 36px;
  display: block;
  .back-button {
    display: inline-block;
    height: 16px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 9px 5px;
    @include background-image(linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)));
    @include border-radius(5px);
    &:active {
      @include background-image(linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.05)));
    }
  }
}

footer {
  @include background-image(linear-gradient(top, #2F2F2F, #151515 50%, #000000 51%, #000000));
  border: 1px solid #222;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.loading-indicator {
  margin: 10px;
}

.hide {
  display: none;
}

.link-button {
  display: block;
  @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
  @include border-radius(25px);
  border: 1px solid $border_color;
  padding: 0.5em;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: lighten($text_color, 40%);
  @include box-shadow( 0px 1px 4px rgba(0,0,0,.3));
  
  &:link, &:active, &:visited {
    text-decoration: none;
    color: lighten($text_color, 40%);
  }
  &:active {
    @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
  }
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

/* no point to have red bg on untouched text boxes */
input[type=text]:invalid {
  background-color: white;
}