/* imports
*==================================================================================================================== */
@import "compass/css3/border-radius";
@import "compass/css3/font-face";
@import "compass/css3/box-shadow";
@import "compass/css3/box";
@import "compass";
$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";

/**
* Colorpalette is available in http://dribbble.com/shots/290228-Dell-Mobile-App-Ph3
*/

/* app specific styles
* =================================================================================================================== */
/* Defining the layout-profile, basically color-palette: frontpage, aalto, rosso, subway */
$customer: "frontpage";

/* Default template **/
$header_gradient_1: lighten(#0F68A3, 20%);
$header_gradient_2: #0F68A3;
$header_text_color: #fff;
$footer_color: rgba(100,100,100,1);
$header_height: 46px;
$border_color: #ccc;
$background_gradient_1: darken(#f6f6f6, 2%);
$background_gradient_2: #f6f6f6;
$text_color: #606967;
$list_item_gradient_1: #ffffff;
$list_item_gradient_2: darken(#ffffff, 1%);

/* Aalto-layout */
@if $customer == aalto {
  $header_gradient_1: lighten(#FECB00, 20%);
  $header_gradient_2: #FECB00;
  $background_gradient_1: darken(#ffffff, 2%);
  $background_gradient_2: #D9D9D9;
  $list_item_gradient_1: #fdfdfd;
  $list_item_gradient_2: darken(#fdfdfd, 3%);
  $text_color: rgba(0,0,0,1);
}

/* Track frontpage-layout */
@if $customer == frontpage {
  $header_gradient_1: lighten(#0F68A3, 20%);
  $header_gradient_2: lighten(#0F68A3, 5%);
  $background_gradient_1: darken(#f6f6f6, 2%);
  $background_gradient_2: #f6f6f6;
  $list_item_gradient_1: #ffffff;
  $list_item_gradient_2: darken(#ffffff, 1%);
  $text_color: #606967;
}

/* Rosso-layout */
@if $customer == rosso {
  $header_gradient_1: #ffffff;
  $header_gradient_2: #fdfdfd;
  $background_gradient_1: #bd1627;
  $background_gradient_2: #bd1627;
}

/* Subway-layout */
@if $customer == subway {
  $header_gradient_1: #009f4f;
  $header_gradient_2: #009f4f;
  $background_gradient_1: darken(#ffffff, 2%);
  $background_gradient_2: #D9D9D9;
}

/* mixins elements
* to re-use whole chunks of CSS, properties or selectors
* =================================================================================================================== */
@mixin header {
  @include background-image(linear-gradient($header_gradient_1, $header_gradient_2));
  padding: 0.7em 1em;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: $header_text_color;
  text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
  @include border-radius(5px 5px 0px 0px);
}

@mixin body-item {
  padding: 1em 1em;
  border: 0;
  border-bottom: 1px solid $border_color;
  border-left: 1px solid $border_color;
  border-right: 1px solid $border_color;
  @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
  @include ellipsis;
}

@mixin body-box {
  margin: 0;
  border: 1px solid $border_color;
  border-bottom: none;
  @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
}

@mixin body-box-last {
  border-bottom: 1px solid $border_color;
  @include border-radius(0px 0px 5px 5px);
}

/* basic html elements
* =================================================================================================================== */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-touch-callout: none;
}

html {
  background-color: $background_gradient_2;
}

body {
  color: $text_color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  @include background-image(linear-gradient($background_gradient_1, $background_gradient_2 100%));
}

/* container elements
* =================================================================================================================== */
#container {
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header_height;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  @include background-image(linear-gradient($header_gradient_1, $header_gradient_2));
  color: $header_text_color;
  border-bottom: 1px solid $border_color;
  text-align: center;
  
  h1 {
    padding: 0.25em;
    padding-top: 9px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    
    a:link, a:visited, a:active {
      color: $text_color;
      text-decoration: none;
      color: $header_text_color;
      text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
    }
  }
}
#main {
  padding-top: $header_height; // if doesn't have javascript support
}

/* list elements
* =================================================================================================================== */
.customer-list-image {
  padding-right: 20px;
  margin-top: -5px;
  width: 60px;
  height: 20px;
}

.customer-list-arrow {
  float: right; // for every list item
}

.page { // What is this???????????????????????
  display: none;
}

.primary-list {
  list-style-type: none;
  width: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  border-left: 1px solid #999;
  border-right: 1px solid #999;

  @include border-radius(15px 15px 15px 15px);

  li {
    padding: 1em 1em;
    border: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid $border_color;
    @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
    @include ellipsis;

    &:active, &.fake-active {
      @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
    }

    &.first-visible-child {
      @include border-radius(15px 15px 0px 0px);
      border-top: 1px solid ccc;
    }
    &.last-visible-child {
      @include border-radius(0px 0px 15px 15px);
      border-bottom: 1px solid ccc;
    }
  }

  li.header {
    @include background-image(linear-gradient($header_gradient_1, $header_gradient_2));
    padding: 0.7em 1em;
    font-size: 18px;
    font-weight: bold;
    color: $header_text_color;
    text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
  }

  li.create-new {
    padding-top: 1em;
    .text {
      display: inline-block;
      background-image: url("../img/add-new-small.png");
      background-repeat: no-repeat;
      background-position: 0;
      padding-left: 25px;
      height: 18px;
    }
  }

  li:first-child {
    border-top: 1px solid $border_color;
    @include border-radius(15px 15px 0px 0px);
  }

  li:last-child {
    @include border-radius(0px 0px 15px 15px);
  }
}

ul li span {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* list search elements
* =================================================================================================================== */
.search-field {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  @include border-radius(11px 11px 11px 11px);
  text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
}

.hide {
  display: none;
}

.search-field-input {
  border: 1px solid #999;
  @include border-radius(11px 11px 11px 11px);
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 6px 50%;
  color: $text_color;
  padding: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 2.2em;
  outline: none;
}

/* target-details elements
* =================================================================================================================== */
#target-header {
  margin-top: 15px;
  margin-left: 7px;
  margin-right: 7px;
}

.target-name {
  float: left;
  font-style: italic;
  font-size: 140%;
  font-weight: 350;
  width: 69%;
  text-wrap: unrestricted;
}

.target-points {
  float: right;
  max-width: 65px;
  margin-top: 3px;
}

#target-header-clear {
  clear: both;
}

.target-points-font {
  font-size: 130%;
  font-weight: 600;
  padding: 5px;
  @include background-image(linear-gradient(lighten(#5d9e47, 5%), #5d9e47));
  @include border-radius(4px);
  @include box-flex(1);
  @include box-shadow( 0px 1px 4px rgba(0,0,0,.3));
  text-align: center;
  color: #f9f9f9;
}

#target-details {
  .target-question {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 20px;
    font-size: 110%;
    //border: 1px solid #0d0e0d;
    padding: 7px 10px;
    @include border-radius(10px 10px 10px 10px);
    @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
    @include box-shadow( 0px 1px 4px rgba(0,0,0,.3));
  }

  .target-answer {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: -7px;

    .answer {
      border-right: none;
      padding: 1em;
      display: block;
      @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
      @include box-flex(1);
      text-align: center;
      @include box-shadow( 0px 1px 4px rgba(0,0,0,.3));
      
      &:active, &.fake-active {
        @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
      }
    }
    .answer:first-child {
      @include border-radius(20px 0px 0px 20px);
    }
    .answer:last-child {
      border-right: 1px solid $border_color;
      @include border-radius(0px 20px 20px 0px);
    }
  }
  .link-button {
    position: absolute;
  	bottom: 1em;
    left: 0.8em;
    right: 0.8em;
  }

  .answer-form-hide {
    overflow: hidden;
  }
}

/* target results elements
* =================================================================================================================== */
#target-results {
  .target-question {
    padding: 0em 10px;
    font-size: 140%;
  }
  .result-heading {
    font-size: 0.5em;
    // color: lighten($text_color, 40%);
    margin: 5px 10px;
    padding-bottom: 0px;
    font-weight: bold;
  }
  table {
    width: 100%;
  }
  .target-answers {
    // @include body-box;
    
    th {
      font-size: 2em;
      font-weight: bold;
      // color: lighten($text_color, 20%);
      text-align: left;
      // @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
      // padding: 1em;
    }
    
    td {
      // color: lighten($text_color, 50%);
      font-size: 3em;
      border-width: 0px
    }
  }
  .result-number, .answer {
    padding: 20px 1em;
  }
  .result-number {
    text-align: right;
  }
  .target-answers:last-child {
    @include body-box-last;
  }
  
  .result-graph {
    color: #fff;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    
    // margin: 20px 1%;
    margin: 10px 10px;
    // border: 1px solid lighten($text_color, 50%);
    
    .pos, .neg {
      padding: 5px;
      text-align: center;
      
      .trend {
        border-top: 20px solid transparent;
      	border-bottom: 20px solid transparent;
        margin: 6px 10px;
      	width: 0;
      	height: 0;
      }
    }
    
    .pos {
	  $pos_color: rgb(0,181,9);
      @include background-image(linear-gradient($pos_color, lighten($pos_color, 10%)));
      @include border-radius(0px 10px 10px 0px);
      
      .trend {
        border-right: 20px solid rgb(0,181,9);
        float: left;
      }
    }
    .neg {
	  $neg_color: rgb(255,0,0);
      @include background-image(linear-gradient($neg_color, lighten($neg_color, 15%)));
      @include border-radius(10px 0px 0px 10px);
      border-right: 1px solid lighten($text_color, 50%);

      .trend {
        border-left: 20px solid rgb(206,30,30);
        float: right;
      }
    }
  }
  
  .graph {
    height: 300px; 
    width: 100%;
    
    .yAxis .tickLabel {
      font-size: 12px;
    }
    .xAxis .tickLabel {
      font-size: 10px;
    }
  }
}

#target-ownResult {
  h3 {
    @include header;
  }
  .result-info-body {
    @include body-box;
    padding-left: 1em;
    color: lighten($text_color, 40%);
    
    .question, .answer {
      display: none;
    }
  }
  .result-info-body:last-child {
    @include body-box-last;
  }
  .link-button {
    margin-top: 2em;
  }
}

/* button elements
* =================================================================================================================== */
#login {
  h2 {
    @include header;
    margin-top: 20px;
  }
  
  .content {
    margin: 0;
    padding: 1em 1em;
    border: 0;
    border-bottom: 1px solid $border_color;
    border-left: 1px solid $border_color;
    border-right: 1px solid $border_color;
    @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
    
    .no-login {
      @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
      &:active {
        @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
      }
    }
    
    .login-button {
      width: 100%;
      @include background-image(linear-gradient(lighten($header_gradient_1, 20%), lighten($header_gradient_2, 20%)));
      &:active {
        @include background-image(linear-gradient(lighten($header_gradient_2, 20%), lighten($header_gradient_1,20%)));
      }
    }
  }
}

#back-button, #account-button {
  position: absolute; 
  top: 5px; 
  display: block;
  .top-button {
    display: inline-block;
    height: 18px;
    padding: 9px 5px;
    a, a:link, a:active, a:visited {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

#account-button {
  height: 36px;
  .top-button {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    height: 15px;
    padding-top: 8px;
  }
  right: 10px;
  @include background-image(linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)));
  @include background-image(linear-gradient($header_gradient_2, $header_gradient_2));
  @include border-radius(35px);
  &:active, &.fake-active {
    //@include background-image(linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.05)));
  }
}

#back-button {
  height: 36px;
  .top-button {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    height: 15px;
    padding-top: 8px;
  }
  left: 10px;
  @include background-image(linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)));
  @include background-image(linear-gradient($header_gradient_2, $header_gradient_2));
  @include border-radius(35px);
  &:active, &.fake-active {
    //background-position: 0 -36px;
  }
}

.link-button {
  display: block;
  @include background-image(linear-gradient($list_item_gradient_1, $list_item_gradient_2));
  @include border-radius(25px);
  border: 1px solid $border_color;
  padding: 0.5em;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: lighten($text_color, 40%);
  @include box-shadow( 0px 1px 4px rgba(0,0,0,.3));

  &:link, &:active, &:visited {
    text-decoration: none;
    color: lighten($text_color, 40%);
  }
  &:active, &.fake-active {
    @include background-image(linear-gradient($list_item_gradient_2, $list_item_gradient_1));
  }
}

button.link-button {
  width: 100%;
}

/* leaderboard elements
* =================================================================================================================== */
#leaderboard {
  margin-top: 1em;
  
  table {
    width: 100%;
    
    tr.header {
      border: 0;
    }
    
    th {
      @include header;
    }
    
    tr {
      @include body-item;
      td {
        padding: 0.5em;
        vertical-align: middle;
        &.position {
          padding-left: 1em;
        }
        &.name img {
          padding-right: 1em;
        }
      }
    }
  }
}

footer {
  @include background-image(linear-gradient(top, #2F2F2F, #151515 50%, #000000 51%, #000000));
  border: 1px solid #222;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.loading-indicator {
  margin: 10px;
}

.hide {
  display: none;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

/* no point to have red bg on untouched text boxes */
input[type=text]:invalid {
  background-color: white;
}
