.chart-span {
    min-width: 470px;
}

.chart1-labels {
    clear: both;
}

.chart1-labels::after {
    /* Is this correct? */
    clear: both;
}

.chart1-labels > div {
    padding-top: 4px;
    float: left;
    text-align: center;
}

.gender-labels > div {
    width: 26px;
}

.age-labels > div {
    width: 52px;
}

.margintop20 {
  margin-top: -20px;
}

.margintop30 {
  margin-top: 30px;
}

.grey {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
}

.borders {
  border: 1px solid black;
}

.margins {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-bottom: 0px;
  padding-top: 0px;
}